.whole{
    background: #111;;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background: #111; /* Background color to match your design */
}
